
__pycache__/

.idea/

ChessEnv/

saved_model/*
!saved_model/.gitkeep

pretrain_data/*
!pretrain_data/.gitkeep

Syzygy/*
!Syzygy/.gitkeep

build/
chess_build_env/

cuda_lib/*
!cuda_lib/lib.txt

GameProcess/
game_socket.spec

Gaviota/*
!Gaviota/.gitkeep
